:root {
  --color-text: #{theme-color(light, text)};
  --color-background: #{theme-color(light, background)};
  --color-primary: #{theme-color(light, primary)};
  --color-secondary: #{theme-color(light, secondary)};
  --color-accent: #{theme-color(light, accent)};
}

[data-theme='dark'] {
  --color-text: #{theme-color(dark, text)};
  --color-background: #{theme-color(dark, background)};
  --color-primary: #{theme-color(dark, primary)};
  --color-secondary: #{theme-color(dark, secondary)};
  --color-accent: #{theme-color(dark, accent)};
}

*,
*::before,
*::after {
  outline: 0;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
  font-size: 16px;
  margin: 0;
  font-family: 'Kumbh Sans', serif;
  transition-property: color, background;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  background-color: $color-background;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  transition: font-size 0.4s ease;
  font-size: 14px;
  font-weight: 500;
}

a,
button {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  list-style: none;
}
button {
  all: unset;
}
